* {
    margin: 0;
    padding: 0;

}
html {
    font-family: 'League Spartan', sans-serif;
                font-size: 10px;
}

header {
    width: 100vw;
    height: 100vh;
    max-width:100%;
    margin: 0;
    background: linear-gradient(-45deg, rgb(46, 46, 46), rgb(19, 19, 19));
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    
}

.line-1 {
    color: #fff;
    overflow: hidden;
    border-right: .15em solid white;
    white-space: nowrap; 
    margin: 0 auto;

    animation: 
      typing 1.6s steps(20, end),
      blink-caret .5s step-end infinite; 
    
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
    
  }
.full-bleed-pink {
    box-shadow: 0 0 0 100vmax #ff286c;
    clip-path: inset(0 -100vmax);
    
}
.full-bleed-blue {
    box-shadow: 0 0 0 100vmax #586ff0;
    clip-path: inset(0 -100vmax);
    
}
.full-bleed-orange {
    box-shadow: 0 0 0 100vmax #f19656;
    clip-path: inset(0 -100vmax);
    
}

.intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    box-sizing: border-box;
    overflow:hidden;
    color: white;
    font-size: 2.5rem;
}

.intro-text h5 {
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
}

.icons-social {
    padding-top: 1rem;
    text-align: center;
    font-size: 1.5em;
}

.links-deco {
    text-decoration: none;
    color: white;
}

.container {
    text-align: center;
    padding: 0;
    /* padding: 25px 50px; */
    font-size: 1.6rem;
    max-width: 1400px;
    margin: 0 auto;
}

.journey-container {
    background-color: #586ff0;
    /* padding: 0 6rem; */
    color: white;
    padding: 20rem 3rem;
    font-weight: lighter;
    line-height: 1.5em;

}


.journey-container p {
    font-size: 2.2rem
}

.portfolio {
    margin-top: 10rem;
    padding: 0 3rem;
    
    /* clip-path: inset(0 -100vmax); */

}

.border {
        border-image: linear-gradient(#ff286c, #ff9b28) 60;
    border-width: 1px;
    border-style: solid;
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 18rem;
    
}
.italic {
    font-style: italic;
}
.no-padding{
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0;
    padding: 0;
    text-align: center;
}

h2 {
    padding: 2rem 0 2rem 0;
    font-size: 4rem;
}

 h3 {
    font-size: 2.4rem;
    padding: 2rem 0;
    
}

a {
    text-decoration: none;
    color: black;
}

.showreel-title {
    padding: 1rem;

}

h4 {
    padding-bottom: 2rem;
    font-size: 2rem;
}

h5{
    margin: 0;
    padding: 0 0 5px 0;
}

.icons {
    padding: 0 2rem 10rem 2rem ;
    /* padding: 1px 20px 35px 0; */

}

.icons img {
    width: 60px;
    padding: 0 1.2rem;
}
.flex {
    display: flex;
    max-width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.showreel {
    /* width: 100%;
    height: 20%; */
    text-align: start;
}
.showreel h3 {
    display: block;
    /* padding-left: 1rem; */
}
.showreel img {
    /* min-width: 40%; */
    max-width: 50%;
    padding: 3rem 0rem 3rem 1rem;
    align-items:start; 

}



.more-work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem 0;
}
.more-work {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    /* background-color: #f19656; */
}
.more-work img {
    max-width: 100%;
        min-width: 100%;
        max-height: 220px;
        object-fit: cover;
        object-position:center
}

.portfolio h2 {
    padding-top: 2rem;
    display: none;

}

.portfolio p {
    padding-bottom: 2rem
}

.card-project {
    border: none;
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
    padding: 1.5rem 2rem;
    -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.256);
    -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.256);
    box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.256);
    min-width: 29%;
    max-width: 29%;
    margin: 0 1rem 2rem 1rem;

}

.project-title {
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    padding: .3rem 0 0 0;
}

.project-name {
    text-align: center;
    padding: .3rem 0 .3rem 0;
    font-style: italic;
}

footer {
    height: 130px;
    background-color: rgb(48, 48, 48);
    width: 100%;
    margin: 0;
}

footer h2 {
text-align: center;
color: white;  
padding-top: 4rem;
}

.fade-in {
    opacity: 0%;
    animation: fadeIn 2s;

    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
    animation-delay: 1.6s;
    animation-fill-mode: forwards
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}














@media (max-width: 1490px) {

.card-project {
    min-width: 25%;
    max-width: 25%;
}
.more-work img {
    max-width: 100%;
        min-width: 100%;
        max-height: 200px;
        object-fit: cover;
}
}






@media (max-width: 1080px) {
    .showreel img {
        max-width: 40%;
    }
    h2 {
        font-size: 3rem;
        padding-top: 2rem;
    }

    h4 {
        margin-bottom: 3rem; 
    }

    .portfolio p {
        padding-bottom: 2rem
    }

    .portfolio h2 {
        padding-top: 2rem;  
    }
    .card-project {
        max-width: 40%;
        margin:0 0 3rem 0;
    }
        .intro-text h1 {
        font-size: 4rem;
    } 
    .intro-text h5 {
        font-size: 1.5rem;
    } 
    .icons {
        padding-top: 1.5rem;
        padding-bottom: 4em;
    }
    .icons img {
        width: 50px;
        padding: 0.3rem;
    }
    .showreel {
        margin-bottom: 1rem;
    }
    /* .project-title {
        font-weight: bold;
        font-size: 2rem;
        text-align: center;
        padding: .3rem 0 0 0; */
    /* } */
    .more-work img {
        max-width: 100%;
        min-width: 100%;
        max-height: 300px;
        object-fit: cover;
        
  }
  .more-work h2 {
    padding-top: 3rem;
  }
  .more-work-container {
    justify-content: space-around;
}

.border {
    margin-bottom: 12rem;
}

}









@media (max-width: 800px) {

    .card-project {
        max-width: 100%;
        margin:0 2rem 3rem 2rem;
    }
    h3 {
        font-size: 2rem;
        padding: 0rem;
    }
    .showreel h3 {
        display: none;
    }
    .portfolio h2 {
        padding-top: 2rem;
        display: block;
    
    }

    .border {
        max-width: 90%;
    }

    .flex {
        display: block;
    }

    .showreel {
        text-align: center;
    }

    .showreel img {
        max-width: 90%;
        padding: 2rem;
    }

    .icons {
        padding-bottom: 1rem;
    }

    .icons img {
        width: 30px;
    }
    .more-work-container {
        display: block;
    }
    .more-work {
        display: block;
    }
    .more-work img {
        max-width: 100%;
        min-width: 100%;
        max-height: 300px;
        object-fit: cover;
        
  }
  .portfolio h2 {
    font-size: 2rem;  
    padding: 1.5rem 0;
}
  footer h2 {
    font-size: 2.2rem;
}
  .more-work-container {
    justify-content: space-around;
}
}


@media (max-width: 700px) {
    .showreel {
        max-width: 100%;
    }
    
    .showreel img {
        /* min-width: 90%; */
        max-width: 90%;
    }
    
}



@media (max-width: 553px) {
    .intro-text h1 {
        font-size: 2.7rem;
    } 
    .icons {
        padding-bottom: 3rem;
    }
    .border {
        max-width: 96%;
    }

    .showreel img {
        max-width: 85%;
    }
}
